body {
    background-color: #F1E0AC;
    color: #495371;
    /* reset */
    margin: 0;
	padding: 0;
	border: 0;
}

header {
    background-color: #ACB992;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.container-valor {
    text-align: center;
    margin: 50px 0px;
    font-size: 1.2rem;
    font-weight: bold;
}

.container-valor input {
    font-size: 1.3rem;
}

.container-botoes {
    text-align: center;
}

.container-botoes button {
    border-radius: 10px;
    width: 250px;
    height: 70px;
    font-size: 1.1rem;
    background-color: #ACB992;
    margin: 15px;
}

.container-botoes button:hover {
    font-weight: bold;
    font-size: 1.2rem;
}

#saida {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}